* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  height: 55px;
}

.navbar,
.offcanvas {
  background-color: rgb(14, 174, 174);
  color: #fff;
  font-weight: 300;
}

.navbar,
.offcanvas a {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

.active {
  font-weight: 700;
}

/* buscador */
.buscador input {
  border-radius: 20px;
}

.buscador button {
  padding: 0;
  border: none;
  color: unset;
}

/* carrusel */
.imgCarrusel {
  height: 550px;
  width: 100vw;
}


/* media-queries */
@media (max-width: 576px){
  .imgCarrusel {
    height: 200px;
  }
}
