
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* navbar */
.navbar {
  height: 55px;
}

.navbar,
.offcanvas {
  background-color: #062D3D;
  color: #fff;
  font-weight: 300;
}

.navbar,
.offcanvas a {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

.active {
  font-weight: 700;
}

/* buscador */
.buscador input {
  border-radius: 20px;
}

.buscador button {
  padding: 0;
  border: none;
  color: unset;
}

/* main */
main {
  min-height: calc(100vh - 55px - 250px);
  background-image: url('/patern.png');
  background-color: #ED5C01;
}

/* carrusel */
.imgCarrusel {
  height: 450px;
  width: 100vw;
}

/* card Home */
.divCardHome {
  background-color: #ED5C01;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  background-image: url('/patern.png');
}

/* componente CARD */
.card {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 0;
}

.card img {
  height: 230px;
  width: 230px;
  margin: 0 auto;
}

.card .buttonCard {
  background-color: #062D3D;
  color: #fff;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
}

/* /tienda/producto/id */
.mainProducto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divDetalleProducto {
  min-height: 400px;
  width: 800px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.divDetalleProducto img {
  width: 300px;
  height: 300px;
}

.divTextProducto h1 {
  font-size: 28px;
}

.divTextProducto{
  padding: 30px;
  text-align: start;
}

.buttonCorazon {
  padding-left: 10px;
  background-color: unset;
  border: none;
}

/* footer */
footer {
  height: 250px;
  background-color: #062D3D;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer div {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

footer div ul li {
  list-style-type: none;
  font-weight: 300;
  color: rgb(221, 217, 217);
}

.fa-paw {
  padding-right: 10px;
}

footer div a {
  text-decoration: none;
  transition: 0.3 ease;
  color: rgb(221, 217, 217);
}

footer div a:hover {
  color: #fff;
}

/* media-queries first-mobile*/
@media (max-width: 576px) {
  .imgCarrusel {
    height: 200px;
  }

  /* componente CARD */
  .card {
    width: 250px;
  }

  .card img {
    height: 150px;
    width: 150px;
  }

  .card p {
    display: none;
  }

  /* /tienda/producto/id */
  .divDetalleProducto {
    min-height: 200px;
    width: 75%;
    flex-direction: column;
  }

  .divDetalleProducto img {
    width: 230px;
    height: 230px;
  }

  .divTextProducto {
    padding: 10px;
  }

  .divTextProducto h1 {
    font-size: 20px;
  }

  /* footer */
  footer {
    min-height: 380px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  footer div {
   text-align: center;
  }

  footer li {
    font-size: 14px;
}

}
