
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* navbar */
.navbar {
  height: 55px;
}

.navbar,
.offcanvas {
  background-color: #062D3D;
  color: #fff;
  font-weight: 300;
}

.navbar,
.offcanvas a {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

.active {
  font-weight: 700;
}

/* buscador */
.buscador input {
  width: 300px;
  border-radius: 20px;
}

.buscador button {
  padding: 0;
  border: none;
  color: unset;
}

/* main */
main {
  min-height: calc(100vh - 55px - 250px);
  background-color: #ED5C01;
  background-image: url('/patern.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.mainHome {
  padding: 0;
}

/* carrusel */
.imgCarrusel {
  height: 450px;
  width: 100vw;
}

/* card Home */
.divCardHome {
  background-color: #ED5C01;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  background-image: url('/patern.png');
}

.precioCardHome {
  font-size: 20px;
  font-weight: 700;
  color: #ED5C01;
  margin: 0;
}

/* componente CARD */
.card {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 0;
}

.card img {
  height: 230px;
  width: 230px;
  margin: 0 auto;
}

.card .buttonCard {
  background-color: #062D3D;
  color: #fff;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
}

/* Tienda */
.divProductosTienda {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  padding: 50px;
}

.precioCardTienda {
  font-size: 20px;
  font-weight: 700;
  color: #ED5C01;
  margin: 0;
}

.divSelectorTienda {
  padding-top: 20px;
}

.divSelectorTienda select {
  height: 35px;
  width: 250px;
  text-align: center;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
}

/* /tienda/producto/id */
.divDetalleProducto {
  min-height: 400px;
  width: 800px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.divDetalleProducto img {
  width: 300px;
  height: 300px;
}

.divTextProducto h1 {
  font-size: 28px;
}

.divTextProducto{
  padding: 30px;
  text-align: start;
}

.buttonCorazon {
  padding-left: 10px;
  background-color: unset;
  border: none;
}

/* registrarse*/
.divRegistroNuevo {
  width: 600px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0;
}

.divRegistroNuevo h1 {
  text-align: center;
  color: #062D3D;
  font-size: 28px;
  padding: 20px 0;
}

.divRegistroNuevo label {
  color: #ED5C01;
  font-weight: 500;
}

.divRegistroNuevo form input {
  width: 70%;
  margin: 0 auto;
}

/* Información Personal */
.divInfoPersonal {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0;
}

.divInfoPersonal h1{
  text-align: center;
  color: #062D3D;
  font-size: 28px;
  padding: 20px 0;
}

.divInfoPersonal p {
  font-weight: 600;
  color: #ED5C01;
  margin: 0;
  padding: 0.5rem 0;
}

.divInfoPersonal  hr {
  width: 400px;
  margin: 0 auto;
}

/* footer */
footer {
  height: 250px;
  background-color: #062D3D;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer div {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

footer div ul li {
  list-style-type: none;
  font-weight: 300;
  color: rgb(221, 217, 217);
}

.fa-paw {
  padding-right: 10px;
}

footer div a {
  text-decoration: none;
  transition: 0.3 ease;
  color: rgb(221, 217, 217);
}

footer div a:hover {
  color: #fff;
}

/* acerca de nosotros */
.divAcerca {
  width: 800px;
  min-height: 350px;
  border-radius: 10px;
  display: flex;
  background-color:#fff;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.divTextAcerca {
  padding: 30px 30px 30px 0;
}

.divTextAcerca h1 {
  font-size: 24px;
  color: #ED5C01;
  font-weight: 700;
  padding-bottom: 10px;
}

.divAcerca p {
  text-align: justify;
}

/* notFound */
.divNotFound {
  width: 700px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color:#fff;
  padding: 30px 0;
}

.divNotFound img {
  width: 300px;
  height: 300px;
}

.divErrorText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #062D3D;
}

.divErrorText h1 {
  margin-bottom: 0;
}

/* buttonIrHome */
.buttonIrHome {
  background-color: #ED5C01;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}

.buttonIrHome  a{
  color: #fff;
  text-decoration: none;
}

/* media-queries first-mobile*/
@media (max-width: 576px) {
  .imgCarrusel {
    height: 200px;
  }

  /* componente CARD */
  .card {
    width: 250px;
  }

  .card img {
    height: 150px;
    width: 150px;
  }

  /* /tienda/producto/id */
  .divDetalleProducto {
    min-height: 200px;
    width: 80%;
    flex-direction: column;
  }

  .divDetalleProducto img {
    width: 200px;
    height: 200px;
  }

  .divTextProducto {
    padding: 10px;
  }

  .divTextProducto h1 {
    font-size: 20px;
  }

  /* Registrarse*/
  .divRegistroNuevo {
    width: 85%;
    margin: 0 auto;
  }

  .divRegistroNuevo h1 {
    font-size: 20px;
  }

  /* Información Personal */
  .divInfoPersonal {
    width: 85%;
  }

  .divInfoPersonal h1{
    font-size: 20px;
  }

  .divInfoPersonal  hr {
    width: 250px;
    margin: 0 auto;
  }

  /* footer */
  footer {
    min-height: 380px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  footer div {
   text-align: center;
  }

  footer li {
    font-size: 14px;
  }

/* acerca de nosotros */
.divAcerca {
  width: 80%;
  flex-direction: column;
}

.divTextAcerca {
  padding: 20px;
}

.divTextAcerca h1 {
  font-size: 20px;
}

  /* notFound */
.divNotFound {
  width: 80%;
  flex-direction: column;
  align-items: center;
}



}
